body {
  background-image: url(a1img4.jpg);
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-size: 1425px 1091px; 
  font-family: sans-serif; 
  
}
.headshot {
	background-color: rgb(255, 203, 164, .2); 
	text-align:center; 
    margin-left:auto; 
    margin-right:auto;
	width: 85%;
	height: 50px;
	color: #cc5500;
	
}
h1 {
  color: #4e0903;
  
}
h2 {
	text-align: center; 
	color: #4e0903;
	
}
h4{
	color: #4e0903;
	
}
h3 {
	text-align: center;
	color: #4e0903;
	font-weight: bold; 
}

li {
	color: #ffcba4;
	
	list-style-position: inside;
}
img {
	 display: block; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 25%;
}
table{
	border: none;
	color: #4e0903;
	text-align:center; 
    margin-left:auto; 
    margin-right:auto; 
    width:200px;
	
}
tr:nth-child(even) {
	background-color: #3f3f3f; 
}
a:visited {
	color: #b19cd9;
}
a:hover {
	color: #ffcba4;
}

